* {
	margin: 0;
}

header {
	background-color: #f8f8f8;
	height: 130px;
}

main {
	margin: 0 6vw;
}

h1 {
	text-align: center;
	padding: 15px 0;
	color: #2e6c9c;
}

form {
	display: flex;
	flex-direction: column;
}

input {
	padding: 12px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #f8f8f8;
	box-shadow: 0 0 10px 0px #9e9e9e30;
	margin: 5px 0;
}

input:focus {
	border: 1px solid #f8f8f8;
	box-shadow: 0 0 10px 0px #a2c9e8;
}
